<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

    <title>Your page title</title>
    {% endblock %}
  </head>
  <body>
    <div style="height: 50px"></div>
    <div class="container">
      <!-- Your page content -->
      {% block page_content %}{% endblock %} {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }} {% endblock %}
    </div>
  </body>
</html>
