{% extends "base.html" %}

{% block title %}患者情報{% endblock %}

{% block page_content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="#">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Register
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('pt_register') }}">患者</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('get_patient_id') }}">手術</a></li>
                        </ul>
                    </a>
                    <a class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Search
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('search_patient_name') }}">患者名</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('search_patient_id') }}">患者ID</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('search_disease_id') }}">病名</a></li>
                        </ul>
                    </a>
            </div>
        </div>
    </nav>
<h2>患者情報</h2>
<table class="table table-striped">
    {% for key in patient_dic.keys() %}
    <tr>
    <td>{{ key }}</td><td>{{ patient_dic[key] }}</td>
    </tr>
    {% endfor %}
    {% for phone in phone_list %}
    <tr>
        <td>Phone</td><td>{{ phone }}</td>
    </tr>
    {% endfor %}
</table>
<h2>手術情報</h2>
<table class="table table-striped">
	<tr><th>op_id</th><th>op_date</th><th>Procedure</th><th>pdf
                file</th><th>anonymous pdf</th>
        </tr>
	{% for op in op_list %}
	<tr>
		<td>{{ op[0] }}</td>
		<td>{{ op[1] }}</td>
		<td>{{ op[2] }}</td>
		<td><a href='{{ op[3] }}'>pdf</a></td>
                <td><a href='{{ op[4] }}'>anonymous</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
