{% extends "base.html" %} {% import "bootstrap5/form.html" as wtf %} {%block
title%} Patient Database {% endblock %} {% block page_content %}

<div class="container-lg">
  
  <h1 class="m-5">Welcome to the Patient Database!</h1>
  <div>
    <img class="img-fluid" src="{{ url_for('static', filename='beautiful_landscape.png') }}", alt="Landscape">
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary" href="{{ url_for('pt_register') }}"
        >患者登録</a
      >
    </div>

    <div class="col">
      <a
        class="btn btn-primary"
        href="{{ url_for('search_patient_name') }}"
        >患者名検索</a
      >
    </div>
    <div class="col">
      <a class="btn btn-primary" href="{{ url_for('search_patient_id') }}"
        >患者ID検索</a
      >
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-4">
      <a href="{{ url_for('get_patient_id') }}" class="btn btn-success"
        >手術登録</a
      >
    </div>
    <div class="col-4">
      <a href="{{ url_for('op_id_register') }}" class="btn btn-success"
        >手術病名登録</a
      >
    </div>
    <div class="col-4">
      <a href="{{ url_for('search_op') }}" class="btn btn-success"
        >手術検索</a
      >
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-4">
      <a href="http://localhost:5000/search/disease_id" class="btn btn-info"
        >disease_id 検索</a
      >
    </div>
  </div>
</div>
{% endblock %}
