{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Op Note{% endblock %}

{% block page_content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/icon.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Register
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('pt_register') }}">患者</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('get_patient_id') }}">手術</a></li>
                        </ul>
                    </a>
                    <a class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Search
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('search_patient_name') }}">患者名</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('search_patient_id') }}">患者ID</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('search_disease_id') }}">病名</a></li>
                        </ul>
                    </a>
            </div>
        </div>
    </nav>
<h2>Operation Record</h2>
<dl class="row">
    <dt class="col-sm-3">Op ID</dt>
    <dd class="col-sm-9">{{ mydict["op_id"]}}</dd>

    <dt class="col-sm-3">Patient ID</dt>
    <dd class="col-sm-9">{{ mydict["patient_id"] }}</dd>

    <dt class="col-sm-3">Patient Name</dt>
    <dd class="col-sm-9">{{ mydict["kanji_name"] }}</dd>

    <dt class="col-sm-3">Preop Dx</dt>
    <dd class="col-sm-9">{{ mydict["preop_dx"] }}</dd>

    <dt class="col-sm-3">Op Date</dt>
    <dd class="col-sm-9">{{ mydict["op_date"] }}</dd>

    <dt class="col-sm-3">Procedure</dt>
    <dd class="col-sm-9">{{ mydict["procedure"] }}</dd>

    <dt class="col-sm-3">Start Time</dt>
    <dd class="col-sm-9">{{ mydict["start_time"] }}</dd>

    <dt class="col-sm-3">End Time</dt>
    <dd class="col-sm-9">{{ mydict["end_time"] }}</dd>
</dl>
<h5>Indication</h5>
<p>{{ mydict["indication"] }}</p>
<h5>Procedure</h5>
<p>{{ mydict["op_note"] }}</p>

{% endblock %}
