{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Op Note{% endblock %}

{% block page_content %}

<h2>Operation Record</h2>
<div class="mx-auto" style="max-width: 800px">
    <dl class="row">
        <dt class="col-sm-3">Op ID</dt>
        <dd class="col-sm-9">{{ mydict["op_id"]}}</dd>

        <dt class="col-sm-3">Patient ID</dt>
        <dd class="col-sm-9">{{ mydict["patient_id"] }}</dd>

        <dt class="col-sm-3">Patient Name</dt>
        <dd class="col-sm-9">{{ mydict["kanji_name"] }}</dd>

        <dt class="col-sm-3">Preop Dx</dt>
        <dd class="col-sm-9">{{ mydict["preop_dx"] }}</dd>

        <dt class="col-sm-3">Op Date</dt>
        <dd class="col-sm-9">{{ mydict["op_date"] }}</dd>

        <dt class="col-sm-3">Procedure</dt>
        <dd class="col-sm-9">{{ mydict["procedure"] }}</dd>

        <dt class="col-sm-3">Surgeon</dt>
        <dd class="col-sm-9">{{ mydict["surgeons"] }}</dd>

        <dt class="col-sm-3">Assistants</dt>
        <dd class="col-sm-9">{{ mydict["assistants"] }}</dd>

        <dt class="col-sm-3">Start Time</dt>
        <dd class="col-sm-9">{{ mydict["start_time"] }}</dd>

        <dt class="col-sm-3">End Time</dt>
        <dd class="col-sm-9">{{ mydict["end_time"] }}</dd>
    </dl>
    <h5>Indication</h5>
    <p>{{ mydict["indication"] | safe }}</p>
    <h5>Procedure</h5>
    <p>{{ mydict["op_note"] | safe }}</p>
</div>

{% endblock %}
